<wicket:extend xmlns:wicket="http://wicket.apache.org">
        <td>
            <span wicket:id="id-label"/>
        </td>
        <td>
            <span wicket:id="work-type-label"/>
        </td>
        <td>
            <span wicket:id="work-scope-lave"/>
        </td>
        <td>
            <span wicket:id="desired-date-label"/>
        </td>
        <td>
            <span wicket:id="brigade-Id-label"/>
        </td>
        <td>
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect" wicket:id="open-button">Open</button>
        </td>
</wicket:extend>
