<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--4dp">
        <thead>
        <tr>
            <th>ID</th>
            <th class="mdl-data-table__cell--non-numeric">Work type</th>
            <th class="mdl-data-table__cell--non-numeric">Work scope</th>
            <th class="mdl-data-table__cell--non-numeric">Desired date</th>
            <th class="mdl-data-table__cell--non-numeric">Brigade ID</th>
            <th class="mdl-data-table__cell--non-numeric">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr wicket:id="requests-list">
            <td>
                <span wicket:id="id-label"/>
            </td>
            <td>
                <span wicket:id="work-type-label"/>
            </td>
            <td>
                <span wicket:id="work-scope-lave"/>
            </td>
            <td>
                <span wicket:id="desired-date-label"/>
            </td>
            <td>
                <span wicket:id="brigade-Id-label"/>
            </td>
            <td>
                <button class="mdl-button mdl-js-button mdl-js-ripple-effect" wicket:id="open-button">Open</button>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="pagination" wicket:id="paging"/>
</wicket:panel>
