<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <div class="language-selection-panel">
        <ul class="mdl-mini-footer__link-list">
            <li>
                <button id="en-button" class="mdl-button mdl-js-button  mdl-js-ripple-effect mdl-button--icon"
                        wicket:id="en">
                    <img src="images/flags/us.png" width="32px" height="32">
                </button>
                <div class="mdl-tooltip" for="en-button">
                    <wicket:message key="lang_select_panel_en_tooltip"/>
                </div>
            </li>
            <li>
                <button id="ru-button" class="mdl-button mdl-js-button  mdl-js-ripple-effect mdl-button--icon"
                        wicket:id="ru">
                    <img src="images/flags/ru.png" width="32px" height="32">
                </button>
                <div class="mdl-tooltip" for="ru-button">
                    <wicket:message key="lang_select_panel_ru_tooltip"/>
                </div>
            </li>
        </ul>
    </div>
</wicket:panel>