<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <div wicket:id="data-container">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--4dp">
            <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric" wicket:id="th-list-items"/>
            </tr>
            </thead>
            <tbody>
            <tr wicket:id="data-view">
                <wicket:child/>
            </tr>
            </tbody>
        </table>
        <div class="pagination" wicket:id="paging-navigator"/>
    </div>
</wicket:panel>
