<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <div class="request-card-wide">
        <div class="card-wide mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Your request</h2>
            </div>
            <div class="mdl-card__supporting-text">
                <span>
                    <b>ID:</b>
                    <span wicket:id="id-text"/>
                </span>
                <hr>
                <span>
                    <b>Work scope:</b>
                    <span wicket:id="work-scope-text"/>
                </span>
                <hr>
                <span>
                    <b>Work type:</b>
                    <span wicket:id="work-type-text"/>
                </span>
                <hr>
                <span>
                    <b>Desired date:</b>
                    <span wicket:id="desired-date-text"/>
                </span>
                <hr>
                <span>
                    <b>Brigade:</b>
                    <span wicket:id="brigade-text"/>
                </span>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                   wicket:id="go-back-button">
                    Go back
                </a>
            </div>
        </div>
    </div>
</wicket:panel>
