.flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/*Menu buttons*/
header .mdl-navigation .mdl-button {
    margin-left: 15px;
}

.mdl-mini-footer {
    padding: 18px 16px;
}

.sign-in-edit-panel {
    border: 1px solid #868686;
    padding: 22px 20px 14px 20px;
    border-radius: 20px;
}

.account-edit-panel {
    margin: 8px 10px 8px 10px;
    border: 1px solid #868686;
    padding: 7px 35px 10px 35px;
    border-radius: 20px;
}

.tenant-edit-panel {
    margin: 8px 10px 8px 10px;
    border: 1px solid #868686;
    padding: 22px 20px 14px 20px;
    border-radius: 20px;
}

.employee-edit-panel {
    margin: 8px 10px 8px 10px;
    border: 1px solid #868686;
    padding: 22px 20px 14px 20px;
    border-radius: 20px;
}

.request-edit-panel {
    margin: 8px 10px 8px 10px;
    border: 1px solid #868686;
    padding: 22px 20px 14px 20px;
    border-radius: 20px;
}

/*Form buttons*/
form .flex-centered .mdl-button {
    margin-right: 15px;
}

/*Form radio-buttons*/
form .flex-centered .mdl-radio {
    margin-right: 15px;
}

/*Notification from feedback-panel*/
.k-notification {
    margin-bottom: 10px;
}

/*language-selection-panel on footer*/
.language-selection-panel {
    margin-bottom: 13px;
}

/*Drawer links*/
.mdl-layout__drawer .mdl-navigation__link {
    font-size: medium;
}

/*Text in td mdl table*/
.mdl-data-table td {
    text-align: center;
}

/*mdl-button in table*/
td .mdl-button {
    margin-top: -6px;
}

/*Some mdl css magic*/
.mdl-data-table__cell--non-numeric.mdl-data-table__cell--non-numeric {
    text-align: center;
}

.table-panel {
    margin-top: 20px;
}

.table-panel .pagination {
    padding: 20px;
    margin-bottom: 20px;
}

.card-wide {
    margin: 20px;
}

.card-wide.mdl-card {
    width: 512px;
}

.card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('images/backgrounds/welcome_card.jpg') center / cover;
}

.card-wide > .mdl-card__menu {
    color: #fff;
}
