.mdl-navigation .mdl-button {
    margin-left: 15px;
}

.flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.feedbackPanel{
    float: left;
    position: absolute;
    bottom: 100px;
}